html
  title Dilan Hira
  | &#x9;
  head
    link(rel='stylesheet', type='text/css', href='style.css')
    | &#x9;&#x9;
    script(src='particles.js')
  | &#x9;
  body
    div(style='background-color:orange; width: 100px;') Dilan
    | &#x9;&#x9;
    p.f
      a(target='_blank', href='')
      br
