
body, html{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1F344C;
  margin: 0;

}

.f{
  position: fixed;
  bottom: 5px;
  right: 15px;
  font-size: 30rem;
  color: white;
  text-align: center;
}

a{
	font-size: 0.8rem;
    color: #ffffff;
}

canvas{

	/*position: relative;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);*/
	z-index: 1;
}

.container {
	position: fixed;
	width: 100%;
	height: 100px;
	z-index: 4;
	margin-top: 50px;
}

#comingSoon {
	color: white;
	font-size: 70px;
	font-weight: 800;
	font-family: 'Raleway', sans-serif;

}
